<!Doctype html>
<html lang="en">
	<head>
		<title>Tower of Dimensions</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	</head>
	<body>
		{{ nick }}
		<img src={{ avatar }} />
	</body>
</html>
