<!Doctype html>
<html lang="en">
	<head>
		<title>Tower of Dimensions</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<meta name=viewport content="width=device-width, initial-scale=1.0, minimum-scale=1.0 maximum-scale=1.0">
		<link href='http://necolas.github.com/normalize.css/2.0.1/normalize.css' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Adamina' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Podkova' rel='stylesheet' type='text/css'>
		<link href='{{ asset('css/style.css') }}' rel='stylesheet' type='text/css'>
		<script>
			$(document).on("ready", assign);

			function assign()
			{
				$("#steam img").on("click", {provider: "http://steamcommunity.com/openid"} ,openid);

				/*google = "https://www.google.com/accounts/o8/id?openid.ns=http://specs.openid.net/auth/2.0&openid.claimed_id=http://specs.openid.net/auth/2.0/identifier_select&openid.identity=http://specs.openid.net/auth/2.0/identifier_select&openid.return_to=http://towerofdimension-local.com/&openid.realm=http://towerofdimension-local.com/&openid.assoc_handle=ABSmpf6DNMw&openid.mode=checkid_setup&openid.ax.required=avatar,firstname";

				$("#google").on("click", {provider: google} ,openid);*/
			}

			function openid(ev)
			{
				provider = ev.data.provider;
				$("#openid_identifier").val(provider);
				$("#fp_openid_login").submit();
			}
		</script>
	</head>
	<body>
		<div id="init">
			<h1> Tower of Dimensions </h1>
		<figure id="steam">
			<img src="http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_border.png" />
		</figure>
		</div>
		<!--<p id="google">Log In with Google</p>-->
		<form id="fp_openid_login" action="{{ path("fp_openid_security_check") }}" method="post">
        	<input type="hidden" id="openid_identifier" name="openid_identifier" value="" />
    	</form>
	</body>
</html>
