<!Doctype html>
<html lang="en">
	<head>
		<meta charset=utf-8>
		<title>Tower of Dimensions</title>
	</head>
	<body>
		<p>{{ url }}</p>
		<a href="http://{{ app.request.host}}/steam">
			<figure>
				<img src="http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_border.png" />
			</figure>
		</a>
	</body>
</html>
