<!Doctype html>
<html lang="en">
	<head>
		<meta charset=utf-8>
		<title>Tower of Dimensions</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script>
			$("document").on("ready",login);
			function login()
			{

				provider == "{{ provider }}";
				switch(provider)
				{
					case "steam"
						provider = "http://steamcommunity.com/openid";
						break;
				}	

				$.ajax({
				data : { "openid_identifier" : provider },
				type : 'POST',
				url : 'http://{{ app.request.host}}/login_openid/',
				dataType: 'html',
				success: function(result){
						window.location = "http://{{ app.request.host}}/"
					);
				}
			});
			}
		</script>
	</head>
	<body>
		<figure>
			<img src="http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_border.png" />
		</figure>
	</body>
</html>